@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    margin: 5px 0 5px 0;
}

form {
    margin: auto;
    width: 325px;
}

.welcome {
    margin: 50px 0 30px 0;
}

.login-message {
    color: rgb(214, 29, 29);
}

.input {
    padding: 15px 20px;
    height: 48px;
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    border-style: solid;
    width: 325px;
    outline-width: thin;
    border-radius: 5px;
}

.input:hover {
    background-color: white;
}

.input:focus {
    background-color: white;
    outline-color: #00c805;
}

.submit-button {
    background-color: #00c805;
    color: white;
    padding: 0px, 48px;
    cursor: pointer;
    white-space: nowrap;
    height: 48px;
    width: 128px;
    border: 0;
    margin: 50px 0 0 0;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #29b32d;
}